.character-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0 42px;

  &__back {
    position: absolute;
    top: 102px;
    left: 209px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: var(--color-text-black);
    background-color: transparent;
    cursor: pointer;

    @include w1024 {
      position: static;
      align-self: flex-start;
    }
  }

  &__img {
    width: 300px;
    height: 300px;
    margin-bottom: 16px;
    border: 5px solid var(--color-border-gray);
    border-radius: 100%;
    overflow: hidden;

    @include w360 {
      width: 150px;
      height: 150px;
      margin-bottom: 30px;
    }
  }

  &__title {
    margin-bottom: 42px;
    font-size: 48px;

    @include w360 {
      margin-bottom: 30px;
      font-size: 32px;
    }
  }

  &__subtitle {
    margin-bottom: 36px;
    font-size: 20px;
    color: var(--color-text-gray);

    @include w360 {
      margin-bottom: 16px;
    }
  }

  &__list {
    width: 413px;

    @include w360 {
      width: 320px;
    }
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    padding: 9px 16px 12px;
    border-bottom: 1px solid var(--color-border-gray);
  }

  &__item-title {
    font-weight: 700;
  }

  &__item-text {
    font-size: 14px;
    color: var(--color-text-gray);
  }

  &__not-found {
    margin: auto;
    font-size: 32px;
    font-weight: 500;
    color: var(--color-text-black);
  }
}
