.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 475px;
  height: 465px;
  gap: 32px;
}

.loader__img {
  width: 100%;
  height: 100%;
  animation: loading 2s ease-in-out infinite;
}

.loader_size_small {
  width: 103px;
  height: 101px;
}

.loader__text {
  font-family: var(--karla-font-family);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: var(--color-text-black);
}

@keyframes loading {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1) rotate(15deg);
  }

  100% {
    transform: scale(1) rotate(0);
  }
}
