.main-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main-logo__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 600px;
  height: 200px;
}

.main-logo__img {
  width: 100%;
  height: 100%;
}
