.characterCard {
  position: relative;
  display: flex;
  gap: 13px;
  padding: 7px;
  max-width: 508px;
  border-radius: 6px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .cardButtons__btn_edit {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__img {
    border-radius: 6px 6px 0 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__link {
    position: relative;
    width: 178px;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    font-family: var(--roboto-font-family);
    color: var(--color-text-black);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        &::after {
          transform: scaleX(1);
        }
      }
    }

    &::after {
      position: absolute;
      content: '';
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 1px;
      background-color: var(--color-text-black);
      transform-origin: center;
      transform: scaleX(0);
      transition: transform 0.3s linear;
    }
  }

  &__property {
    display: flex;
    flex-direction: column;
  }

  &__propertyName {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 131%;
    letter-spacing: 0.02em;
    color: var(--color-text-black);
  }

  &__propertyValue {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--color-text-gray);
  }

  &__status {
    display: flex;
    gap: 6px;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--color-text-gray);
  }
}

.cardButtons {
  position: absolute;
  top: 10px;
  right: 7px;
}
