.selector {
  $p: &;
  position: relative;

  &_size_medium {
    width: 240px;
  }

  &_size_small {
    width: 94px;

    #{$p} {
      &__button {
        padding: 2px 5px;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.02em;
      }

      &__icon {
        width: 9px;
        height: 9px;
      }

      &__option {
        padding: 5px;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.02em;
      }
    }
  }

  &_opened {
    #{$p} {
      &__icon {
        transform: rotateX(180deg);
      }

      &__options {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-start;
    gap: 8px;

    width: 100%;
    padding: 18px 14px;
    border: 1px solid var(--color-border);
    border-radius: 6px;
    background-color: transparent;

    font-size: 16px;
    font-weight: 400;
    line-height: 119%;
    color: var(--color-text-gray);
    cursor: pointer;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: #ececec;
      }
    }
  }

  &__icon {
    margin-left: auto;
    transition: transform 0.2s ease-in-out;
  }

  &__options {
    position: absolute;
    left: 0;
    top: calc(100% + 8px);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    border: 1px solid var(--color-border);
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
    z-index: 10;
  }

  &__option {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 119%;
    color: var(--color-text-gray);
    background-color: var(--color-bg-white);
    transition: background-color 0.2s ease-in-out;

    &_selected {
      background-color: #dfdfdf99;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: #ececec;
      }
    }

    &:active {
      background-color: #a4a4a499;
    }
  }
}
