.customInput {
  $p: &;

  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--roboto-font-family);
  border-color: transparent;
  transition: border-color 0.2s linear;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      #{$p} {
        &__clearBtn {
          opacity: 1;
        }
      }
    }
  }

  &_view_bordered {
    width: 100%;
    min-width: 240px;
    padding: 16px 12px 16px 16px;
    border: 1px solid;
    border-radius: 8px;
    color: var(--color-border);
    border-color: var(--color-border);

    @include w1440 {
      min-width: 240px;
      padding: 16px 12px 16px 16px;
    }

    @include w1024 {
      min-width: 100%;
      padding: 16px 12px 16px 16px;
    }

    @include w360 {
      min-width: 100%;
      padding: 16px 12px 16px 16px;
    }

    #{$p} {
      &__input {
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        color: var(--color-border);
      }
    }
  }

  &_view_underlined {
    gap: 0;
    color: var(--color-text-black);
    border-bottom: 1px solid;
    border-color: var(--color-text-black);

    &.customInput_size_medium {
      #{$p} {
        &__input {
          width: 178px;
          font-size: 20px;
          font-weight: 500;
          line-height: 150%;
          letter-spacing: 0.01em;
        }
      }
    }

    &.customInput_size_small {
      color: var(--color-text-gray);
      #{$p} {
        &__input {
          width: 115px;
          font-size: 14px;
          font-weight: 400;
          line-height: 150%;
          letter-spacing: 0.02em;
          color: inherit;
        }
      }
    }
  }

  &__input {
    width: 100%;
    padding: 0;
    border: none;
    font-family: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }

  &__clearBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    color: inherit;
    background: none;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    outline: none;
  }

  &_readonly {
    border-color: transparent;
    pointer-events: none;
  }
}
