.main-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 26px 0 16px;
  overflow: hidden;

  &__img {
    width: 600px;
    height: 200px;

    @include w1440 {
      width: 600px;
      height: 200px;
    }

    @include w1024 {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
}
