.status {
  display: inline-block;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 100%;

  &_alive {
    background-color: #12b800;
  }

  &_dead {
    background-color: #df0000;
  }

  &_unknown {
    background-color: #ff9900;
  }
}
