.status {
  display: inline-block;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 100%;

  &_alive {
    background-color: var(--color-status-green);
  }

  &_dead {
    background-color: var(--color-status-red);
  }

  &_unknown {
    background-color: var(--color-status-orange);
  }
}
