.filterPanel {
  display: flex;
  justify-content: space-between;
  gap: 28px;
  padding-bottom: 28px;

  @include w1440 {
    gap: 28px;
    padding-bottom: 28px;
  }

  @include w1024 {
    flex-direction: column;
  }
}
