.loader {
  $p: &;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  &_size_small {
    #{$p} {
      &__img {
        width: 103px;
        height: 101px;
      }
    }
  }

  &_size_large {
    #{$p} {
      &__img {
        width: 475px;
        height: 465px;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    animation: loading 2s ease-in-out infinite;
  }

  &__text {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: var(--color-text-black);
  }
}

@keyframes loading {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1) rotate(15deg);
  }

  100% {
    transform: scale(1) rotate(0);
  }
}
