.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  box-shadow: 0 -3px 5px var(--color-shadow);

  &__text {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    color: var(--color-text-black);
    text-align: center;
  }
}
