.cardButtons {
  display: flex;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    background: none;
    border: none;

    &_type_edit {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }
}
