#root {
  max-width: 100vw;
  min-width: 320px;
  text-align: center;
}

.container {
  padding: 0 198px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
