#root {
  min-width: 320px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 198px;
  padding-right: 198px;
}
