@import './assets/fonts/fonts.css';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--roboto-font-family);
  font-weight: 400;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: 100%;
}

p {
  margin: 0;
}

:root {
  --roboto-font-family: 'Roboto', sans-serif;
  --color-bg-white: #ffffff;
  --color-text-black: #000000de;
  --color-text-gray: #00000099;
  --color-status-green: #12b800;
  --color-status-red: #df0000;
  --color-status-orange: #ff9900;
  --color-shadow: #cccbcb;
  --color-border: #00000080;
}
