.go-back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0;
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 18px;
  color: var(--color-text-black);
}
